* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 20px;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('https://img.wallpapic.it/i8246-435-519/thumb/treno-montagne-natura-ferrovia-sfondo.jpg');
    background-size: cover; 
    background-position : center;
    background-repeat: no-repeat;  */
}

header h1,
header h2{
    color: white;
}

.btn{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.input-container label{
    font-size: 20px;
    font-weight: bold;
}

.input-container input{
    border: 1px solid blue;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.form-container{
    background-color: lightgray;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
}

.container-input-text{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.container-button{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box-tiket{
    min-height: 300px;
    background-color: antiquewhite;
}